.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider::before {
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0) 100%);
}

.slider::after {
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 0) 100%);
}

.slider::before,
.slider::after {
  position: absolute;
  content: "";
  z-index: 50;
  width: 120px;
  aspect-ratio: 1/1;
}

.slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(300px * 6);
  height: 120px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
  width: 300px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 3));
  }
}

@media (min-width: 640px) {
  .slide-track {
    width: calc(500px * 6);
    height: 160px;
  }

  .slide {
    padding-inline: 3rem;
    width: 500px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-500px * 3));
    }
  }
}

@media (min-width: 1024px) {
  .slide-track {
    width: calc(700px * 6);
    height: 200px;
  }

  .slide {
    padding-inline: 4rem;
    width: 700px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-700px * 3));
    }
  }
}

@media (min-width: 1024px) {
  .slider::before,
  .slider::after {
    width: 200px;
  }
}
